.leaflet-container{
    height: 70vh;
    width: 50vw;
    border: 2px solid black;
    box-shadow: 1px 2px 1px 1px #00BECC;
    align-items: center;
}
.map-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
    
}
.serv-txt{
  font-family: 'Bebas Neue', sans-serif;
  font-size: 22px;
  text-align: center;
}