.footer-container{
    background-color: #00becc;
    height: auto;
    font-family: "Oswald", sans-serif;
    color: white;
    text-align: center;
    padding: 10px;
}

.fa-icons{
    padding: 0px 5px;
    height: 18px;
}