.book-txt-section{
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
    color: black;
    font-size: 60px;
}

.book-container{
    background-color: #FAECE1;
}

.card-titles{
    font-weight: 500;
    font-size: 34px;
}
.card-pricing{
    font-size: 30px;
}
.card-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Bebas Neue', sans-serif;
}
.card-row{
    border: 2px solid black;
    height: 54vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 10px;
    
}

.card-imgs{
    height: 275px;
    width: 350px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.card-btns{
    width: 125px;
    margin: 5px;
    font-family: 'Oswald', sans-serif;
}
